<!DOCTYPE HTML>
<html>
 <head>
 <div class = "edithead">
  <div class = "editheadh1" link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet"><%= link_to 'Buzzling', '/tweets'%></div>
  </div>
  
 </head>
 <body>
 <div class = "editparent">
  <div class = "edittop">
  <p>編集画面</p>
  </div>
  </div>

<div class = "contentup">
  <%= form_with(model: @tweet, local: true)do |form| %>
  <%# <%= form.text_field :name, placeholder: "Nickname"%> 
  <%= form.text_field :image, placeholder: "Image Url"%>
  <%= form.text_field :text, placeholder: "text"%>
  <%= form.submit "SEND", class: "edit_submit" %>
<%end%>
</div>

  


  </body>
