<!DOCTYPE HTML>
<html>
 <body>
 <div class = "tweetbody_parent">
  <% @tweets.each do |tweet| %>
  <div class = "tweetbody">
  <div class = "contents_image"style = "background-image: url(<%= tweet.image %>);"></div>
  <div class = "tweetname">
  <a href = "/users/<%= tweet.user.id%>">
  <%= tweet.user.nickname%>
 </div>
  <div class = "tweetdate"><%= tweet.created_at %></div>
  <div class = "tweettext"><%= simple_format(tweet.text) %></div>
 

  <% if user_signed_in? && current_user.id == tweet.user_id%>
      <div class = "editindex">
      <%= link_to 'Edit', "/tweets/#{tweet.id}/edit", method: :get %>
      </div>
      <div class = "destroyindex">
      <%= link_to 'Delete', "/tweets/#{tweet.id}", method: :delete %>
      </div>
  <% end%>
     <div class = "showinndex">
      <%= link_to 'Learn More', "/tweets/#{tweet.id}", method: :get %>
      </div>
</div>
<% end %>
<div class = "indexkaminari">
<%= paginate @tweets %>
</div>


 </body>
  <head>
 <div class = "tweethead">
 <%# <div class = "indexpost">
<%= link_to 'NEW POST', 'tweets/new'%>
<%# </div> %> 
  <div class = "search">
    <p>検索</p>
   <%= form_with url: search_tweets_path, local: true, method: :get do |form|%>
    <%= form.text_field :keyword, placeholder: "keyword", class: "search-input" %>
    <%= form.submit "search", class: "search-btn" %>
   <% end %>
  </div>

<% if user_signed_in? %>
  <div class = "user_signed"><%= link_to "LogOut", destroy_user_session_path, method: :delete%></div>
   <div class = "indexpost">
   <%= link_to 'NEW POST', 'tweets/new'%>
   </div>
   <div class = "userpage">
   <%= link_to 'MyPage', "/users/#{current_user.id}" %>
   </div>
<% else %>
  <div class = "Log">
    <div class = "In"><%= link_to "LogIn", user_session_path, method: :post%>
    </div>
    <div class = "Up"><%= link_to "SignUp", new_user_registration_path, method: :get%>
    </div>
  </div>
  <% end %>


  <div class = "tweetheadh1" link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">Buzzling</div>

  </div>


  
 </head>

</html>