 <head>
 <div class = "tweethead">
  <div class = "tweetheadh1" link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet"><%= link_to 'Buzzling', 'http://localhost:3000/tweets'%></div>
  </div>
  
 </head>

<div class = "session_new">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="sessions_actions">
    <%= f.submit "Log In" %>
  </div>
<% end %>
<div class = "sign_up_new">
<%= render "devise/shared/links" %>
</div>
</div>